In [1]:
# Import libraries
from flask import Flask, render_template, request
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
import pandas as pd 
from sqlalchemy.orm import sessionmaker
import json
from datetime import datetime
import datetime
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine

In [2]:
# Load json data
with open('database.txt') as f:
    json_data = json.load(f)

In [3]:
# Json to dataframe
df = pd.DataFrame(json_data)

In [4]:
first_game = df['1198490']

In [5]:
first_game = first_game.loc[:'steam_appid']

In [6]:
first_game['type']

'game'

In [7]:

    database = r"C:\Users\kasia\pyproj\deployment\first_game.sqlite"

In [8]:
# Dataframe to SQL database
# Create a table
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


def main():

    sql_create_example_table = """CREATE TABLE IF NOT EXISTS example (
                                    apptype varchar,
                                    name varchar,
                                    steam_appid integer PRIMARY KEY
                                );"""
   
    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create example table
        create_table(conn, sql_create_example_table)

    else:
        print("Error! cannot create the database connection.")


if __name__ == '__main__':
    main()

In [9]:
def create_example(conn, first_game):

    sql = ''' INSERT INTO example(apptype, name, steam_appid)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, (first_game['type'], first_game['name'], first_game['steam_appid']))
    conn.commit()
    return cur.lastrowid


def main():

    # create a database connection
    conn = create_connection(database)
    with conn:
        # create a new example
        example_id = create_example(conn, first_game)



if __name__ == '__main__':
    main()

In [10]:
# to Flask